@font-face {
  font-family: 'proxima_novaregular';
  src: url('../fonts/mark_simonson__proxima_nova_regular-webfont.woff2') format('woff2'),
    url('../fonts/mark_simonson__proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #2b2c2b;
  font-family: 'proxima_novaregular';
  font-weight: 300;
  font-size: .9rem;
  letter-spacing: .08rem;
}

/* ============================== Header-Start ================================= */
.header_area,
.information-area {
  padding: 12px 0px;
  background: #ffffff;
  position: relative;
}

/* .information-area{
  padding: 12px 0px;
  background: #ffffff;
  position: relative;
} */

.header_area::before {
  content: "";
  width: 100%;
  height: 11%;
  position: absolute;
  bottom: 0px;
  box-shadow: 0px 13px 8px #00000017;
  z-index: 9999;
}

.header_tit-img img {
  margin-left: 10px;
  width: clamp(101px, 25.2vw, 280px);
}

.header_tit-img-1 img {
  margin-left: 20px;
  width: clamp(91px, 26.2vw, 194px);
  filter: brightness(0) saturate(100%);
  /* padding: 26px; */
}

.header_img-con {
  display: flex;
  align-items: center;
}

.header_logo img {}

.header_logo {
  display: flex;
  justify-content: center;
}

.header_logo img {
  width: clamp(74px, 7.2vw, 168px);
}

.header_cad-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.header-nav img {
  max-width: 100%;
  width: 40px;
}

a.btn-currency-form {
  padding-bottom: 4px;
  display: inline-block;

}

a.btn-currency-form {
  color: black;
}

a.btn-currency-form {
  font-size: 14px;
  padding-bottom: 18px;
  color: black;
}

a.btn-currency-form {
  font-size: clamp(9px, 3.2vw, 16px);
  text-decoration: none;
}

/* ============================== Header-End ================================= */
/* ====================================== Main ================================ */


main {
  overflow-x: hidden;
}

.hero_slider img {
  /* height: 100%; */
  width: 100%;
  height: calc(100vh - 110px);
}

.hero_slider {
  height: calc(100vh - 110px);
}

.main_home_slider {
  position: relative;
}

.main_banner_part {
  position: relative;
}

.main-tit {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.main-tit h1 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: .8rem;
  margin: 15px 0;
}

.main-tit h3 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.view-btn {
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: .08rem;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 8px 30px;
}

.view-btn:hover {
  background-color: #fff;
  color: #000000;
  transition: 0.5s;
}

.hero_slider h3 {
  position: absolute;
  font-size: 40px;
  font-weight: 400;
  color: red;
  top: 50%;
}

/* .search-box {
  position: absolute;
  bottom: 50%;
  background: aquamarine;
  opacity: .98;
  min-height: 120px;
} */
.main_home_slider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 110px);
  width: 100%;
  background: #04040454;
  z-index: 9;
}

.main_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.search__box {
  width: 90%;
  position: absolute;
  bottom: -22px;
  background-color: #2b2c2b;
  padding: 1rem 4rem;
  z-index: 9999;
}

.form-select {
  background-color: #343a40;
  border-color: #343a40;
  color: #ffffff8a;
  font-size: 16px;
  width: 100%;
}

.form-check-input {
  background-color: #323a40;
}

.button-serch {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 1.2rem;
}

.button-serch button {
  padding: 4px 40px;
  background-color: #323a40;
  color: #fff;
  border: 1px solid #fff;
  margin-right: 1.5rem;
}

.button-serch button:hover {
  background-color: #fff;
  color: #000000;
}

.checkboxes_filed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.form-check {
  flex: 0 0 25%;
  max-width: 25%;
}

.form-check>input {
  flex: 0 0 20px;
}

.text__area-main {
  max-width: 100%;
}

.text__area-main.form-check-input {
  background-color: #fff;
}

.check_color {
  background-color: white;
}

.btn-secondary {
  color: #6c757d;
  border: 1px solid #6c757d;
  background-color: #fff;
}

.form-check input {
  height: 20px;
  width: 20px;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check label {
  margin-left: 1rem;
  padding-top: 3px;
}

.dropdown,
.dropend,
.dropstart,
.dropup {
  position: relative;
  padding: 0;
}

.what-new {
  padding: 0px 40px;
  padding-bottom: 10px;
}

.col.text-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0px;
}

select.selectpicker {
  padding: 20px;
}

.container-event {
  max-width: 1650px;
}

/* .maiin_img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
} */
.nav-co {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 3px;
}

.nav-co p {
  margin: 0px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.maiin_img img {
  width: 100%;
}

.maiin_img {
  position: relative;
  overflow: hidden;
}

.img-box {
  transform: translateX(-301px);
  position: absolute;
  top: 0;
  height: 100%;
  background: #ffffffe1;
  width: 57%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
  opacity: 0;
  padding-left: 15px;
}

.maiin_img:hover .img-box {
  transform: translateX(0px);
  opacity: 1;
}

.img-box p {
  margin: 0px;
}

.img-box b {
  padding-right: 10px;
  font-size: 14px;
  font-weight: 700;
}

.card_icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card_text span {
  padding-left: 30px;
  font-size: 12px;
  font-weight: 300;
}

.card_text h6 {
  font-size: 9px;
  font-weight: 900;
}

.card_text p {
  margin: 0px;
  font-size: 16px;
}

a.a-color {
  text-decoration: none;
  color: black;
}

/* ===================================== Main End # 1 =================================  */

/* ===================================== Main start#2 =================================  */
.sec_main {
  padding: 30px;
}

.sec-main-title h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 6px;
}

.sec-button button {
  text-transform: uppercase;
  color: #148577;
  border: 1px solid #148577;
  background: none;
  letter-spacing: 2px;
  padding: 8PX 40px;
}

.sec-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.sec-button button:hover {
  background-color: #148577;
  color: #ffffff;
  transition: 0.5s;
}

/* ===================================== Main start#2 =================================  */


.footer {
  padding: 40px 120px;
  background: #2a2c2c;
  color: #fff;
}

.sub-foo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer_3 button {
  color: #fff;
  background-color: #2a2c2c;
  border: 2px solid #fff;
}

.footer_3 button:hover {
  background-color: #fff;
  color: #000000;
}

.footer-text {
  padding-top: 30px;
}

.footer_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tit_footer-1 img {
  width: 85%;
}

.footer_first-tex p {
  text-align: end;
}

.footer_1 {
  position: relative;
}

.footer_first-tex {
  padding-top: 20px;
}

.footer_first-tex span {
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer_first-tex a {
  color: #fff;
  text-decoration: none;
}

p.footer-end {
  padding-top: 20px;
}

.footer_end-icon {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer_end-icon i {
  padding: 10px;
}

.footer_sec-title h6 {
  font-size: 18px;
  font-weight: 800;
}

.footer-list ul li {
  list-style: none;
}

.footer-list ul {
  padding: 0px;
}

.footer-list {
  padding-top: 10px;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
  line-height: 2.6;
  font-size: 16px;
}

.footer-list h4 {
  font-weight: 600;
  font-size: 18px;
}

.footer__lst-text {
  /* margin: 0px -60px; */
  padding-top: 30px;
}

.footer__lst-text p {
  font-size: 14px;
}

.footer__lst-text b {
  font-size: 16px;
}



.slider-details {
  /* padding: 20px; */
  background-color: rgba(216, 230, 235, 0.829);
  /* display: flex; */
}

.slider-con ul li {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  flex-wrap: wrap;
}

.slider-con b {
  font-size: 16px;
  font-weight: 700;
  padding-right: 20px;
}

.slider-con p {
  margin: 0px;
}

.slider-con ul {
  margin: 0px;
}

.sub__title.d-flex {
  justify-content: space-between;
  align-items: center;
}

.slider-sub p {
  margin: 0px;
  color: #148577;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slide-area-title {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.slide-area-title p {
  margin: 0px;
  padding-left: 41px;
  font-size: 16px;
  letter-spacing: 4px;
}

.slidr-bar {
  border-top: 1px solid black;
  padding: 10px;
}

button.carousel-control-prev:hover,
button.carousel-control-next:hover {
  background: #ffffff30;
}

.map__img img {
  object-fit: cover;
  width: 100%;
}

.details__area {
  border-bottom: 1px solid;
  width: 56%;
  margin-bottom: 2rem;
}

.slider-text p {
  text-align: justify;
}

/* ============================== STREET INFO START ===========================  */
.street-info_area {
  padding: 50px;
  background-color: #f4f6f5;
}

.input_control input {
  margin-bottom: 30px;
}

.form-check.text__area-main {
  padding-top: 10px;
}

.detail_logo img {
  width: 55%
}

.logo_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_title button {
  color: #343a40;
  border: 1px solid #343a40;
}

.logo_title button:hover {
  background-color: #343a40;
}

/* ============================== STREET INFO END =============================  */
/* ============================== You Might Start =============================  */

.slide-area-title.slide-sec-second h4 {
  padding-top: 40px;
  font-size: 28px;
  letter-spacing: 1px;
}

.slide-border-top {
  width: 30%;
}

.slide-area-title.slide-sec-second {
  padding: 0rem 5.2rem;
  display: block;

}

/* ============================= You Might End ============================= */
/* ============================== Slider-Start =================================== */

.slider_fisrt img {
  width: 100%;
  height: 100%;
}

.slider_second {
  height: clamp(204px, 3.2vw, 282px);
}

.slider_fisrt {
  height: clamp(412px, 3.2vw, 280px);
}

.slider_second img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__area {
  overflow: hidden;
}


.content_slider-area {
  /* padding: 18px 30px; */
  text-align: justify;
}

.slider_title-area h4 {
  font-size: 32px;
  font-weight: 600;
}

.slider_title-area p {
  font-size: 18px;
  font-weight: 500;
}


/* ============================== Slider-End =================================== */
/* ============================== Sale_area-start ===================================  */

.for-sale_heading {
  position: relative;
  padding: 27px 23px;
}

.for-sale_heading h4 {
  background-color: green;
  width: 50%;
  color: #fff;
  padding: 0px 10px;
  margin: 0px 20px;
}

.for-sale_heading::before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  background: green;
  border-radius: 50px;
  left: 23px;
  top: 36px;
}

.first-border {
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 0px 10px;
}

.for-sale_heading p {
  font-size: 22px;
  font-weight: 800;
  margin: 0px;
  padding-top: 10px;
}

.info__title-1 {
  padding-left: 20px;
}

.logo_title_bed {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.info__logo-bed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 34px;
}

.info__logo-bed h4 {
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 800;
}

.info__title-1 h4 {
  font-size: 36px;
  font-weight: 600;
}

.info__title-1 p {
  font-size: 20px;
  font-weight: 500;
}

.bed_con p {
  font-size: 16px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.sec-bed_con {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 47px;
  flex-wrap: wrap;
}

.info-details-right {
  display: flex;
  padding-left: 39px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.info-list a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #181616d6;
}

.info-list li {
  list-style: none;
  text-align: justify;
  padding: 0px;
  margin: 0px;
}

.info-list ul {
  padding: 0px;
}

.info-list h4 {
  font-size: 30px;
  font-weight: 600;
}

.info-list {
  position: relative;
}
li.active {
  position: relative;
  margin-bottom: 0.6rem;
}
li.active a {
  /* font-size: 1.6rem; */
  color: #000;
  font-weight: 600;
}
.info-list li.active::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background: green;
  left: 0px;
  top: 30px;
}

.info-list li.active::before {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  background: green;
  border-radius: 50px;
  left: -20px;
  top: 13px;
}
.info_img-area {
  position: relative;
}

.info_img-area > img {
  padding-right: 6rem;
  padding-top: 1.2rem;
}

.info_img-area span {
  position: absolute;
  right: 0;
  background: green;
  padding: 18px 2px;
  display: inline-block;
  height: 100%;
}

.info_img-area span img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%);
}
/* ============================== Sale_area-start ===================================  */
/* ============================== map_area-start ===================================  */
.main_map-title h4 {
  margin: 0;
  padding: 20px 0px;
  font-size: 18px;
  font-weight: 600;
}

.school_area img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.school_area {
  background: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 14px;
  height: 100%;
  width: 100%;
}
.school_title-area h4 {
  font-size: 20px;
  font-weight: 600;
}
.school_title-area {
  padding-top: 10px;
  width: 70%;
}
.main_sch-con {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}
.school_area-logo i {
  font-size: 22px;
  color: #000000a3;
}
.grade-sch {
  position: absolute;
  display: flex;
  right: 24px;
  top: 40px;
}

.grade-sch p {
  margin: 0;
  height: 25px;
  width: 25px;
  background-color: #8BC34A;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grade-sch span {
  margin: 0;
  height: 25px;
  width: 25px;
  background-color: #03736c;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transit_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transit_area p {
  margin: 0px;
}
.drive_transit {
  border: 1px solid #00000026;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.transit_text p {
  margin: 0px;
}
/* ============================== map_area-end ===================================  */
.page_info {
    padding: 3rem;
    position: relative;
    padding-left: 4rem;
    overflow: hidden;
    margin-bottom: 2rem;
    padding-bottom: 0;
}
.pay{padding: 0; padding-left: 4rem;}
.page_info:before {
    content: "";
    position: absolute;
    left: 16px;
    width: 38px;
    height: 100%;
    background: green;
}
.page_info p {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}
.for_sale-area {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: #ffff;
  width: 620px;
  max-width: 100%;
  height: 50%;
  overflow-y: auto;
  transition: all 0.5s;
  opacity: 0.6;
  visibility: hidden;
  transform: translateY(100%);
}

.for_sale-area.show{
    opacity: 1;
    visibility:visible;
    transform: translateY(0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.table_header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.logo-type:nth-of-type(2) {
  height: auto;
  width: 200px;
  max-width: 100%;
}

.logo-type> img {
  height: 100%;
  width: 100%;
  object-fit:contain;
}

.logo-type {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.logo-type:nth-of-type(1) {
  height: 120px;
  width: auto;
}

.logo-type:nth-of-type(3) {
  width: 120px;
  max-width: 100%;
}
/* ======================================payment_area_start============================= */
.payment_area {
  padding: 40px;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
td b {
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}














/* general styling */
/* body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
} */




/* ======================================payment_area_end================================== */
/* ======================================customer_area_start=============================== */
.pg_heading h1 {
  font-size: 46px;
  font-weight: 600;
}
.customer_vedio img {
  width: 100%;
  object-fit: cover;
}

.customer_vedio {
  padding: 40px;
}
.customer_area-icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.customer_stars img {
  width: 100%;
}
.customer_main_content {
  padding: 40px;
}
.customer-details p {
  margin: 0;
}

.vedio_con {
  padding-top: 40px;
}

.vedio_con p {
  padding: 12px 0px;
}
.customer-details p {
  padding-top: 9px;
  font-size: 17px;
}
.customer_stars {
  padding-left: 20px;
}
/* ======================================customer_area_end================================= */


/* start to check the screen for responsive disign Min screen 1920 and max screen 320 */
/* min media query breaking points */
@media screen and (min-width:481px) {}

@media screen and (min-width:576px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {}

@media screen and (min-width:1200px) {}

@media screen and (min-width:1400px) {}

@media screen and (min-width:1600px) {
  .search__box {
    width: 85%;
  }
}

@media screen and (min-width:1720px) {
  .search__box {
    width: 75%
  }
}

/* max media query breaking points */
@media screen and (max-width:1399px) {
  .search__box {
    position: static;
  }

  .search__box {
    width: 100%;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }

  .main_btn {
    margin: 0px;
  }
}

@media screen and (max-width:1199px) {}

@media screen and (max-width:991px) {
  .footer {
    padding: 40px 80px;
    background: #2a2c2c;
    color: #fff;
  }
}

@media screen and (max-width:767px) {
  .form-check {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }

  .sec-main-title h4 {
    font-size: 20px;
  }

  .sec-button button {
    padding: 8px 22px;
  }

  .footer_first-tex p {
    text-align: start;
  }

  .footer_first-tex span {
    justify-content: start;
  }

  .sub-foo {
    justify-content: start;
  }

  .footer_end-icon {
    justify-content: start;
  }

  .footer {
    padding: 40px 20px;
  }
}

@media screen and (max-width:575px) {
  .form-check {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .search__box {
    padding: 1rem;
  }

  .footer_3 {
    align-items: start;
    justify-content: start;
  }
}

@media screen and (max-width:480px) {
  .form-check {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .slide-area-title {
    flex-wrap: wrap;
  }

  .slide-area-title {
    padding: 0px;
  }
}

.owner__title {
  background: green;
  padding: 17px;
}

.owner__title img {
  filter: invert(1);
  width: 100%;
}
.pagenation_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}